<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
         content must come *after* these tags -->
    
    <title>Ristorante Con Fusion</title>    
        <!-- Bootstrap -->
<!-- build:css styles/main.css -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="formController" >
  <div class="row col-md-offset-3">
    <div class="jumbotron col-md-7">
      <h1 class="col-md-offset-1">Form Validation</h1>
    </div>
  </div>
  <div class="row col-md-offset-3">
    <h1 ng-repeat="error in errors.common">{{error}} </h1>
    <form class="form-horizontal col-md-7" name="form" ng-submit="sendForm()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : form.username.$error.required && !form.username.$pristine }">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" ng-model="myForm.username" ng-minlength="6" required> <span ng-repeat='error in errors.username'>{{error}} </span>
                <span ng-show="form.username.$invalid && form.username.$error.required && !form.username.$pristine" class="help-block">Your Username is required.</span>
                <span ng-show="form.username.$invalid && !form.username.$pristine" class="help-block">Your Username must be at least 6 characters long.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.password.$error.required && !form.password.$pristine }">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type='password' class="form-control" id="password" name="password" ng-pattern="/(([A-ZА-Я]+.*\d+)|(\d+.*[A-ZА-Я]+))/" placeholder="Enter Your Password" ng-model="myForm.password" required><span ng-repeat='error in errors.password'>{{error}} </span>
                <span ng-show="form.password.$error.required && !form.password.$pristine" class="help-block">Your password is required.</span>
                <span ng-show="form.password.$invalid && !form.password.$pristine" class="help-block">Your password must contain at least 1 uppercase letter and 1 number.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : form.telnum.$error.required && !form.telnum.$pristine }">
            <label for="telnum" class="col-sm-2 control-label">Contact Tel.</label>
            <div class="col-xs-7 col-sm-6 col-md-3">
                <input type="tel" id="telnum" name="telnum" class="form-control" ng-model="myForm.phone" ui-mask="{{'(999) 999-99-99'}}" required/><span ng-repeat='error in errors.phone'>{{error}} </span>
                <span ng-show="form.telnum.$error.required && !form.telnum.$pristine" class="help-block">Enter a valid phone number.</span>
            </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error has-feedback' : form.emailid.$invalid && !form.emailid.$pristine }">

            <label for="emailid" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email" ng-model="myForm.email" required><span ng-repeat='error in errors.email'>{{error}} </span>
                <span ng-show="form.emailid.$invalid && !form.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span ng-show="(form.emailid.$invalid ||
                            form.emailid.$error.required) &&
                            !form.emailid.$pristine"
                 class="help-block">Enter a valid email address.</span>
            </div>
        </div>                      
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Send Form</button>
            </div>
        </div>
    </form>
  </div>

    

<!-- build:js scripts/main.js -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
<!-- endbuild -->

</body>

</html>